.main-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
}

.search-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.search-box {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 800px;
}

.search-input {
  flex: 1;
  font-size: 18px;
  margin-right: 10px;
}

.search-btn {
  font-size: 16px;
  color: white;
  cursor: pointer;
}

.filter-container {
  display: flex;
  margin-top: 50px;
  width: 100%;
}

.filter-options {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}

.filter-item label {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 15px;
}

.filter-input,
.p-dropdown,
.p-calendar {
  width: 14em;
  font-size: 16px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.date-range {
  display: flex;
  justify-content: space-between;
}

.filter-item {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.results-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 50px;
}

.result-item {
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  margin-bottom: 10px;
}

.p-dropdown,
.p-calendar,
.p-inputtext {
  font-size: 16px;
}

:host ::ng-deep {
  .p-multiselect, .p-dropdown {
    width: 90%;
  }

  .chart-dropdown .p-dropdown{
    width: 15em;
  }
}

.search-btn-container {
  justify-content: end;
  display: flex;
  gap: 30px;
}

.results-container {
  margin-top: 20px;
}

.case-details {
  margin: 10px 0;
}
